/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham-dark.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.ag-theme-balham .ag-cell {
  border-left: 1px solid #dee2e6;
  border-top: none;
  border-bottom: 1px solid #dee2e6;
  border-right: none;
  padding-right: 5px!important;
  padding-left: 5px!important;
}
.digits-align {
  text-align: right;
}

.cell-style1 {
  background-color: #ff5459;
}

.cell-style2 {
  background-color: #cd8875;
}

.cell-style3 {
  background-color: #cdbb56;
}

.cell-style4 {
}

.cell-style5 {
  background-color: #7dc75a;
}

.cell-style6 {
  background-color: #098922;
}
